# Analysis of results
Using the solutions found from Algorithm X we'll now collate our results.

In the results we will also add in the following: the island constituencies of 'Isle of Wight', 'Orkney and Shetland', 'Ynys Mon', 'Na h-Eileanan an Iar' and the Speaker's constituency of 'Chorley'.

#### Add results to neighbouring constituencies.
To speed things up later we will find what would have been the results for each set of constituencies paired.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df2h = pd.read_csv("../Data/MergedResults/const_merged_2_dhondt.csv.gz")
df3h = pd.read_csv("../Data/MergedResults/const_merged_3_dhondt.csv.gz")
df4h = pd.read_csv("../Data/MergedResults/const_merged_4_dhondt.csv.gz")
df2w = pd.read_csv("../Data/MergedResults/const_merged_2_webster.csv.gz")
df3w = pd.read_csv("../Data/MergedResults/const_merged_3_webster.csv.gz")
df4w = pd.read_csv("../Data/MergedResults/const_merged_4_webster.csv.gz")

In [3]:
pd.value_counts(df3h.drop(columns='set_no').apply(sum, axis=1))

3    4714
dtype: int64

In [77]:
# const_pairs = pd.read_csv("../Data/const_pairs.csv")
# const_tris = pd.read_csv("../Data/const_tris.csv")
# const_quads = pd.read_csv("../Data/const_quads.csv")

# bes = pd.read_csv("../Data/bes_2019.csv")
# bes = bes.rename(columns = 
#                              {'con_vote_19': 'Conservative',
#                              'lab_vote_19': 'Labour',
#                              'ld_vote_19': 'Liberal Democrat',
#                              'brexit_vote_19': 'Brexit party',
#                              'green_vote_19': 'Green',
#                              'snp_vote_19': 'Scottish National Party',
#                              'pc_vote_19': 'Plaid Cymru',
#                              'dup_vote_19': 'Democratic Unionist Party',
#                              'sf_vote_19': 'Sinn Fein',
#                              'sdlp_vote_19': 'Social Democratic & Labour Party',
#                              'uup_vote_19': 'Ulster Unionist Party',
#                              'alliance_vote_19': 'Alliance',
#                              'other_vote_19': 'Other'})

# bes['merging_name'] = [b.lower() for b in bes['constituency_name']]
# parties = ['Conservative', 'Labour', 'Liberal Democrat',
#                  'Brexit party', 'Green', 'Scottish National Party', 'Plaid Cymru',
#                  'Democratic Unionist Party', 'Sinn Fein', 'Social Democratic & Labour Party', 
#                  'Ulster Unionist Party', 'Alliance', 'Other']

In [19]:
# In order to read the csv files containing the AlgorithmX results we will need to run the following:
from ast import literal_eval
# df.to_csv("test.csv", index=False)
df = pd.read_csv("../../AlgorithmX/Solutions/solns_London_4.csv.gz", dtype={'region': str}, converters={'soln': literal_eval})
# To find if there are any duplicates
# df = df.assign(sorted_soln = [list(np.sort(t)) for t in df['soln']])

It's not easy to check duplicates as the `soln` column is a list. The way we'll do it is as follows:
1. Take an inital sample about 2-3 times as big as the final sample that we want
1. Create a secondary dataframe as follows `df2 = pd.DataFrame(df['soln'].tolist())` which will expand the dataframe to many columns. Note that since the solutions will be sorted then 
1. Check `df2` for duplicates and remove them (`df3 = df2.drop_duplicates()`)
1. Take a sample from `df3 (df4 = df3.sample(n)` and tham match the indexes from `df` with thos from `df4`.

Issue with converting the whole of the dataframe to a list is that it will take a very long period of time and as we're only interested in a sub-sample it doesn't make sense to do it for all of the possible solutions.

In [20]:
df.sample(10)

,soln,triplet,region
1795,"[12734, 13097, 13176, 13444, 14007, 14265, 145...","[788, 803, 1150]",London
1015,"[12499, 12567, 12823, 13064, 13400, 13995, 142...","[1020, 1056, 1296]",London
852,"[12436, 12537, 13083, 13406, 14149, 14444, 147...","[1020, 1056, 1296]",London
107,"[12532, 12761, 13114, 13371, 13402, 14346, 145...","[1020, 1056, 1296]",London
3224,"[12518, 12575, 12828, 13017, 13188, 13442, 135...","[945, 1168, 1206]",London
3741,"[12441, 12576, 13041, 13440, 13996, 14123, 145...","[945, 1168, 1206]",London
3594,"[12441, 12897, 13026, 13440, 13996, 14123, 145...","[945, 1168, 1206]",London
4822,"[12459, 12770, 13026, 13435, 13972, 14313, 145...","[808, 1051, 1071]",London
1769,"[12734, 13097, 13176, 13444, 13989, 14217, 145...","[788, 803, 1150]",London
1790,"[12734, 13097, 13176, 13444, 13938, 14304, 145...","[788, 803, 1150]",London

In [21]:
df = df.assign(sorted_soln = [list(np.sort(t)) for t in df['soln']])

In [22]:
df.shape

(6250, 4)

In [23]:
np.all(df['soln'] == df['sorted_soln'])

True

In [28]:
d = {}
for i in range(1, 21):
    d[i] = df
df2 = pd.concat(d)

In [29]:
%%time
df3 = pd.DataFrame(df2['soln'].tolist()) #, index=df.index)

CPU times: user 17 s, sys: 27.3 s, total: 44.3 s
Wall time: 43.2 s

In [31]:
df3.drop_duplicates().shape, df3.shape

((6250, 16), (125000, 16))

In [25]:
df2.shape

(180000, 4)

In [26]:
df2.head(10)

  soln  quad region                                        sorted_soln
0  198   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0  171   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0  394   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0  159   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0  191   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0    2   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0  114   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0  252   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0  174   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...
0  341   888   East  [2, 25, 100, 114, 146, 159, 171, 174, 191, 198...

In [33]:
df.shape

(6250, 4)

In [35]:
%%time
# To find and remove duplicated lists
tf = df2['soln'].apply(pd.Series).duplicated()

CPU times: user 1min 26s, sys: 39.8 s, total: 2min 6s
Wall time: 2min 5s